<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/Content/Master">
		<include path="~/Content/css/bootstrap.css" />
		<include path="~/Content/vendors/bootstrap-icons/bootstrap-icons.css" />
		<include path="~/Content/vendors/sweetalert2/sweetalert2.min.css" />
		<include path="~/Content/vendors/perfect-scrollbar/perfect-scrollbar.css" />
		<include path="~/Content/vendors/iconly/bold.css" />
		<include path="~/Content/css/app.css" />
		<include path="~/Content/css/custom-css.css" />
		<include path="~/Content/vendors/sweetalert2/sweetalert2.min.css" />
		<include path="~/Content/css/fonts-google.css" />
	</styleBundle>
</bundles>